#modulebox 
{
    border: 5px solid #343a40;
    border-radius: 25px;
    width: 80%;
    min-width: 1000px; 
    margin: auto;
    padding: 20px; 
    justify-content: center
}

#griddisplay
{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 50px;
    grid-auto-rows: minmax(100px, auto);
}